.surveyFeedContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.surveyFeed {
  width: 75%;
}
.itemsContainer {
  padding: 5px;
  overflow: auto;
  height: 500px;
  border: black 2px solid;
}
